.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid wheat;
  padding: 10px;
  border-radius: 5px;
  min-width: 300px;
  margin-bottom: 20px;
  border-radius: 10px;
  color: azure;
}

.formField {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.formField label {
  font-weight: bold;
  margin-bottom: 5px;
}

.formField input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  flex: 1;
  box-sizing: border-box;
}

.formField input:focus {
  outline: none;
  border-color: #3e2723;
}

.formBtn {
  background-color: #3e2723;
  color: wheat;
}

.formBtn:hover:focus {
  background-color: #230b11;
}
