.container {
  max-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.btn {
  font-size: 14px;
  border: 3px solid bisque;
  padding: 6px;
  margin-right: 20px;
}

.btn:hover {
  background-color: black;
  color: rgb(229, 226, 226);
  outline: none;
  border-color: transparent;
}

.text {
  color: bisque;
  text-decoration: none;
  padding-right: 3px;
  font-weight: 500;
}
